<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[add]</key>
	<string>add</string>
	<key>[address_book]</key>
	<string>address_book</string>
	<key>[alert]</key>
	<string>alert</string>
	<key>[announcement]</key>
	<string>announcement</string>
	<key>[back]</key>
	<string>back</string>
	<key>[box]</key>
	<string>box</string>
	<key>[burn]</key>
	<string>burn</string>
	<key>[calender]</key>
	<string>calender</string>
	<key>[cd]</key>
	<string>cd</string>
	<key>[chat]</key>
	<string>chat</string>
	<key>[chat_emoticon]</key>
	<string>chat_emoticon</string>
	<key>[clock]</key>
	<string>clock</string>
	<key>[close]</key>
	<string>close</string>
	<key>[computer]</key>
	<string>computer</string>
	<key>[contact]</key>
	<string>contact</string>
	<key>[database]</key>
	<string>database</string>
	<key>[delete]</key>
	<string>delete</string>
	<key>[donotdisturb64]</key>
	<string>donotdisturb64</string>
	<key>[down]</key>
	<string>down</string>
	<key>[edit]</key>
	<string>edit</string>
	<key>[eye]</key>
	<string>eye</string>
	<key>[favorite]</key>
	<string>favorite</string>
	<key>[flag]</key>
	<string>flag</string>
	<key>[floppy]</key>
	<string>floppy</string>
	<key>[folder]</key>
	<string>folder</string>
	<key>[folder_open]</key>
	<string>folder_open</string>
	<key>[forward]</key>
	<string>forward</string>
	<key>[hand]</key>
	<string>hand</string>
	<key>[heart]</key>
	<string>heart</string>
	<key>[help]</key>
	<string>help</string>
	<key>[home]</key>
	<string>home</string>
	<key>[image01]</key>
	<string>image01</string>
	<key>[image02]</key>
	<string>image02</string>
	<key>[image03]</key>
	<string>image03</string>
	<key>[image04]</key>
	<string>image04</string>
	<key>[image05]</key>
	<string>image05</string>
	<key>[image06]</key>
	<string>image06</string>
	<key>[image07]</key>
	<string>image07</string>
	<key>[image08]</key>
	<string>image08</string>
	<key>[image09]</key>
	<string>image09</string>
	<key>[image10]</key>
	<string>image10</string>
	<key>[image11]</key>
	<string>image11</string>
	<key>[image12]</key>
	<string>image12</string>
	<key>[image13]</key>
	<string>image13</string>
	<key>[image14]</key>
	<string>image14</string>
	<key>[image15]</key>
	<string>image15</string>
	<key>[info]</key>
	<string>info</string>
	<key>[key]</key>
	<string>key</string>
	<key>[lock]</key>
	<string>lock</string>
	<key>[mail_read]</key>
	<string>mail_read</string>
	<key>[memo64]</key>
	<string>memo64</string>
	<key>[music]</key>
	<string>music</string>
	<key>[options]</key>
	<string>options</string>
	<key>[paste]</key>
	<string>paste</string>
	<key>[pictures]</key>
	<string>pictures</string>
	<key>[portfolio]</key>
	<string>portfolio</string>
	<key>[rb_empty]</key>
	<string>rb_empty</string>
	<key>[rb_full]</key>
	<string>rb_full</string>
	<key>[redo]</key>
	<string>redo</string>
	<key>[refresh]</key>
	<string>refresh</string>
	<key>[rss]</key>
	<string>rss</string>
	<key>[search]</key>
	<string>search</string>
	<key>[security]</key>
	<string>security</string>
	<key>[smiles_10]</key>
	<string>smiles_10</string>
	<key>[smiles_11]</key>
	<string>smiles_11</string>
	<key>[smiles_12]</key>
	<string>smiles_12</string>
	<key>[smiles_13]</key>
	<string>smiles_13</string>
	<key>[smiles_14]</key>
	<string>smiles_14</string>
	<key>[smiles_15]</key>
	<string>smiles_15</string>
	<key>[smiles_16]</key>
	<string>smiles_16</string>
	<key>[smiles_17]</key>
	<string>smiles_17</string>
	<key>[smiles_18]</key>
	<string>smiles_18</string>
	<key>[smiles_19]</key>
	<string>smiles_19</string>
	<key>[smiles_1]</key>
	<string>smiles_1</string>
	<key>[smiles_20]</key>
	<string>smiles_20</string>
	<key>[smiles_21]</key>
	<string>smiles_21</string>
	<key>[smiles_22]</key>
	<string>smiles_22</string>
	<key>[smiles_23]</key>
	<string>smiles_23</string>
	<key>[smiles_24]</key>
	<string>smiles_24</string>
	<key>[smiles_25]</key>
	<string>smiles_25</string>
	<key>[smiles_26]</key>
	<string>smiles_26</string>
	<key>[smiles_27]</key>
	<string>smiles_27</string>
	<key>[smiles_28]</key>
	<string>smiles_28</string>
	<key>[smiles_29]</key>
	<string>smiles_29</string>
	<key>[smiles_2]</key>
	<string>smiles_2</string>
	<key>[smiles_30]</key>
	<string>smiles_30</string>
	<key>[smiles_31]</key>
	<string>smiles_31</string>
	<key>[smiles_32]</key>
	<string>smiles_32</string>
	<key>[smiles_33]</key>
	<string>smiles_33</string>
	<key>[smiles_3]</key>
	<string>smiles_3</string>
	<key>[smiles_4]</key>
	<string>smiles_4</string>
	<key>[smiles_5]</key>
	<string>smiles_5</string>
	<key>[smiles_6]</key>
	<string>smiles_6</string>
	<key>[smiles_7]</key>
	<string>smiles_7</string>
	<key>[smiles_8]</key>
	<string>smiles_8</string>
	<key>[smiles_9]</key>
	<string>smiles_9</string>
	<key>[smiley]</key>
	<string>smiley</string>
	<key>[smiley_angry]</key>
	<string>smiley_angry</string>
	<key>[smiley_confused]</key>
	<string>smiley_confused</string>
	<key>[smiley_sad]</key>
	<string>smiley_sad</string>
	<key>[smiley_sleeping]</key>
	<string>smiley_sleeping</string>
	<key>[smiley_winking]</key>
	<string>smiley_winking</string>
	<key>[speaker]</key>
	<string>speaker</string>
	<key>[star]</key>
	<string>star</string>
	<key>[stationery]</key>
	<string>stationery</string>
	<key>[stats]</key>
	<string>stats</string>
	<key>[stop]</key>
	<string>stop</string>
	<key>[sun]</key>
	<string>sun</string>
	<key>[system]</key>
	<string>system</string>
	<key>[tag]</key>
	<string>tag</string>
	<key>[template]</key>
	<string>template</string>
	<key>[tip]</key>
	<string>tip</string>
	<key>[tools]</key>
	<string>tools</string>
	<key>[tutorial]</key>
	<string>tutorial</string>
	<key>[undo]</key>
	<string>undo</string>
	<key>[up]</key>
	<string>up</string>
	<key>[user]</key>
	<string>user</string>
	<key>[web]</key>
	<string>web</string>
	<key>[window]</key>
	<string>window</string>
	<key>[wizard]</key>
	<string>wizard</string>
	<key>[write]</key>
	<string>write</string>
</dict>
</plist>
