<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>[smiles_10]</string>
	<string>[smiles_11]</string>
	<string>[smiles_12]</string>
	<string>[smiles_13]</string>
	<string>[smiles_14]</string>
	<string>[smiles_15]</string>
	<string>[smiles_16]</string>
	<string>[smiles_17]</string>
	<string>[smiles_18]</string>
	<string>[smiles_19]</string>
	<string>[smiles_1]</string>
	<string>[smiles_20]</string>
	<string>[smiles_21]</string>
	<string>[smiles_22]</string>
	<string>[smiles_23]</string>
	<string>[smiles_24]</string>
	<string>[smiles_25]</string>
	<string>[smiles_26]</string>
	<string>[smiles_27]</string>
	<string>[smiles_28]</string>
	<string>[smiles_29]</string>
	<string>[smiles_2]</string>
	<string>[smiles_30]</string>
	<string>[smiles_31]</string>
	<string>[smiles_32]</string>
	<string>[smiles_33]</string>
	<string>[smiles_3]</string>
	<string>[smiles_4]</string>
	<string>[smiles_5]</string>
	<string>[smiles_6]</string>
	<string>[smiles_7]</string>
	<string>[smiles_8]</string>
	<string>[smiles_9]</string>
	<string>[image01]</string>
	<string>[image02]</string>
	<string>[image03]</string>
	<string>[image04]</string>
	<string>[image05]</string>
	<string>[image06]</string>
	<string>[image07]</string>
	<string>[image08]</string>
	<string>[image09]</string>
	<string>[image10]</string>
	<string>[image11]</string>
	<string>[image12]</string>
	<string>[image13]</string>
	<string>[image14]</string>
	<string>[image15]</string>
	<string>[smiley]</string>
	<string>[smiley_angry]</string>
	<string>[smiley_confused]</string>
	<string>[smiley_sad]</string>
	<string>[smiley_sleeping]</string>
	<string>[smiley_winking]</string>
	<string>[window]</string>
	<string>[back]</string>
	<string>[folder_open]</string>
	<string>[paste]</string>
	<string>[rb_empty]</string>
	<string>[web]</string>
	<string>[database]</string>
	<string>[user]</string>
	<string>[help]</string>
	<string>[rb_full]</string>
	<string>[up]</string>
	<string>[add]</string>
	<string>[redo]</string>
	<string>[clock]</string>
	<string>[write]</string>
	<string>[refresh]</string>
	<string>[portfolio]</string>
	<string>[burn]</string>
	<string>[lock]</string>
	<string>[donotdisturb64]</string>
	<string>[chat_emoticon]</string>
	<string>[favorite]</string>
	<string>[cd]</string>
	<string>[hand]</string>
	<string>[box]</string>
	<string>[options]</string>
	<string>[key]</string>
	<string>[undo]</string>
	<string>[pictures]</string>
	<string>[down]</string>
	<string>[floppy]</string>
	<string>[alert]</string>
	<string>[music]</string>
	<string>[chat]</string>
	<string>[star]</string>
	<string>[stationery]</string>
	<string>[tutorial]</string>
	<string>[announcement]</string>
	<string>[edit]</string>
	<string>[search]</string>
	<string>[delete]</string>
	<string>[folder]</string>
	<string>[stats]</string>
	<string>[sun]</string>
	<string>[info]</string>
	<string>[close]</string>
	<string>[home]</string>
	<string>[rss]</string>
	<string>[security]</string>
	<string>[memo64]</string>
	<string>[mail_read]</string>
	<string>[address_book]</string>
	<string>[wizard]</string>
	<string>[system]</string>
	<string>[tip]</string>
	<string>[tag]</string>
	<string>[tools]</string>
	<string>[forward]</string>
	<string>[template]</string>
	<string>[flag]</string>
	<string>[computer]</string>
	<string>[eye]</string>
	<string>[stop]</string>
	<string>[heart]</string>
	<string>[calender]</string>
	<string>[speaker]</string>
	<string>[contact]</string>
</array>
</plist>
